@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  font-weight: bold;
}

h1,
h2 {
  font-family: Bellefair;
}

p,
ul,
li,
span {
  line-height: 40px !important;
  font-family: Barlow;
}
